
*.csv
*.xlsx
*.bmp
*.jpg
*.m
Project2-ArchitectureExperiment/Human Behavior Modelling - Interiors with varying façade characteristics in VR/2018_MLProject.pdf
*.mat
Project2-ArchitectureExperiment/Human Behavior Modelling - Interiors with varying façade characteristics in VR/Human Behavior Modelling - Interiors with varying façade characteristics in VR-20181122T142459Z-001.zip
Project2-ArchitectureExperiment/Human Behavior Modelling - Interiors with varying façade characteristics in VR/References/Complexity/Friedenberg and Liby - 2016 - Perceived beauty of random texture patterns A pre.pdf
Project2-ArchitectureExperiment/Human Behavior Modelling - Interiors with varying façade characteristics in VR/References/Complexity/Lloyd - 2001 - Measures of complexity a nonexhaustive list.pdf
Project2-ArchitectureExperiment/Human Behavior Modelling - Interiors with varying façade characteristics in VR/References/Complexity/Machado et al. - 2015 - Computerized measures of visual complexity.pdf
Project2-ArchitectureExperiment/Human Behavior Modelling - Interiors with varying façade characteristics in VR/References/Complexity/Silva et al. - 2011 - Image complexity measure based on visual attention.pdf
Project2-ArchitectureExperiment/Human Behavior Modelling - Interiors with varying façade characteristics in VR/References/Contrast/Moulden et al. - 1990 - The Standard Deviation of Luminance as a Metric fo.pdf
Project2-ArchitectureExperiment/Human Behavior Modelling - Interiors with varying façade characteristics in VR/References/Contrast/Rockcastle et al. - 2017 - Contrast measures for predicting perceptual effect.pdf
Project2-ArchitectureExperiment/Human Behavior Modelling - Interiors with varying façade characteristics in VR/References/Contrast/Rockcastle et al. - 2017 - Using Virtual Reality to Measure Daylight-Driven Interest in Rendered Architectural Scenes.pdf
Project2-ArchitectureExperiment/Human Behavior Modelling - Interiors with varying façade characteristics in VR/References/Previous work - Patterns, perception, heartrate/Abboushi and Elzeyadi - 2018 - Do visually interesting sunlight patterns impact occupants_ perceived glare.pdf
Project2-ArchitectureExperiment/Human Behavior Modelling - Interiors with varying façade characteristics in VR/References/Previous work - Patterns, perception, heartrate/Chamilothori et al. - 2016 - Daylight patterns as a means to influence the spat.pdf
Project2-ArchitectureExperiment/Human Behavior Modelling - Interiors with varying façade characteristics in VR/References/Previous work - Patterns, perception, heartrate/Chamilothori et al. - 2018 - Perceived interest and physiological responses of facade and daylight patterns in virtual reality.pdf
Project2-ArchitectureExperiment/Human Behavior Modelling - Interiors with varying façade characteristics in VR/References/Previous work - Patterns, perception, heartrate/Omidfar et al. - 2015 - The use of environmental aesthetics in subjective .pdf
